.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 1px 1px 20px white; */
    border-radius: 30px;
    width: 95%;
    margin: 2rem auto;
    padding: 10px;
    background-color: rgb(80, 78, 78);
}
.img-container{
    width: 55%;
    height: 400px;
    border-radius: 20px;
    margin: 1rem 0;
    overflow: hidden;
}
.normal-img{
    /* height: 50%; */
    width: 100%;
    box-shadow: 1px 1px 20px gray;
    cursor: zoom-in;
}

.full-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    cursor: zoom-out;
}

.project-description{
    width: 40%;
}
.project-features > div{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .project-description{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
}