@font-face {
    font-family: Source Code;
    src: url(./fonts/SourceCodePro-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

.App {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111111;/*#141E30;*/
  color: white;
  /* border: 10px solid gold; */
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  min-height: 100vh;
}

.big-text, .mid-text, .normal-text{
  font-family: Source Code;
  /* font-weight: 700; */
  /* text-transform: uppercase; */
  background-color: blueviolet;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  /* background-clip: border-box;
  -webkit-background-clip: text; */
      background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  
}
.big-text{
  font-size: 3rem;
}
.mid-text{
    text-align: center;
    font-size: 1.5rem;
  }
  .big-text a{
    position: relative;
  }
  .big-text a::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: rgba(100, 148, 237, 0.3);
    border-radius: 30px;
    transition: 0.3s all ease-in;
  }
  .big-text a:hover::before{
    width: 100%;
    opacity: 1;
  }
  

.title-text {
text-transform: Uppercase;
margin: .5em;
font-family: Rubik, sans-serif;
font-size: 2rem;
font-weight: 700;
color: #E4E5E6; 
position: relative;
background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; }

.title-text:before,
.title-text:after {
content: attr(data-text);
position: absolute;
top: 0;
left: 0; }

.title-text:before {
z-index: -1;
text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)}

.title-text:after {
z-index: -2;
text-shadow: 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
mix-blend-mode: multiply; }



  .btn {
  height: 60px;
  width: 200px;
  margin: 1rem auto;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid white;
  background-color: #111111;

  background-image: linear-gradient(45deg,#fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 0.8s all cubic-bezier(0.280, 0.840, 0.420, 1);
  z-index: 1;
}
.btn:hover{
  color: #111111;
  background-position: 0;
}

.list-item{
  list-style: none;
  font-size: 1rem;
  font-family: cursive;
  width: fit-content;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.list-item-small{
  list-style: square;
  margin: 10px 20px;
  color: aliceblue;
  position: relative;
}
.list-item-small::before{
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  height: 60%;
  width: 100%;
  background: darkslategrey;
  transform: rotateZ(-10deg);
  z-index: -1;
}

a{
  color: white;
}
svg{
  color: #a0e9ff;
  margin: 0 10px;
}
.jelly{
  animation: jello 5s ease infinite;
  transform-origin: center;
  display: inline-block;
}

@keyframes jello {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}
